@use '../abstracts/index' as *;

#introduction{
    min-height: 80vh;
    @include flex($direction:column, $justify:center, $gap: 3em);
    
    .title{
        @include flex($direction:column, $align:flex-start, $gap: 1.5em);

        .pic{
            height: 8em;
            width: 8em;
            border-radius: 10em;
            margin-bottom: 1em;
        }

        .content{
            color: $color-gray5;
            line-height: 2;
        }

        .cta{
            .socials{
                @include flex($gap: 1.25em);
                i{
                    font-size: 1.5em;
                    color: $color-gray3;

                    &:hover{
                        color: $color-gray6;
                    }
                }
            } 

            @include media-xs{
                a{
                    width: 100%;
                    text-align:center;
                }
            }
        }
    }
}