// COLORS
$color-red: #f50e43;
$color-teal: #00ffee;
$color-purple: #2200fd;
$color-gray0: #0C0B13;
$color-gray1: #11101A;
$color-gray2: #292734;
$color-gray3: #5D5B6B;
$color-gray4: #9189C7;
$color-gray5: #b7b5c4;
$color-gray6: #ffffff;
$popup-background: rgb(29 25 54 / 70%);
// FONTS
$font-size: 16px;

//SIZES
$page-width: 700px;